@charset"UTF-8";

@import "normalize";

body {
  background-color: #000000;
}

button {
  transition: all 0.2s ease 0s;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  color: #ebebeb;
  background-color: #4a73f0;
  border: 0;
  border-radius: 2px;
  text-align: center;
  font-size: 14px;
  padding: 8px 14px;
  vertical-align: middle;
  cursor: pointer;
  outline: none;

  &.disabled {
    background-color: #787e90;
  }

  &:hover {
    box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    background-color: #6285f2;
    cursor: pointer;

  }

  &:hover:active {
    box-shadow: 0 0 0 0 transparent;
  }
}

.app {
  position: relative;
}

.app__pencil,
.app__eraser {
  margin: 10px;
  width: 48px;
  height: 48px;
  border-radius: 48px;
}

.canvas__mouse-tracker {
  cursor: crosshair;
}

.sidebar {
  position: absolute;
  top: 0;
  background-color: rgba(255,255,255,0.8);
  bottom: 0;
  left: 0;
  width: 200px;
  transition: transform 0.2s ease;

  &.hidden {
    transform: translate3d(-200px, 0, 0);
  }
}

.sidebar__switch {
  height: 24px;
  line-height: 24px;
  padding: 12px;
  width: 240px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  color: #ebebeb;
  background-color: #4a73f0;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

.sidebar__section {
  padding: 12px 12px 0;
}

ul.sidebar__choice {
  list-style: none;
  margin: 0;
  padding: 0 12px;

  li {
    margin: 6px 0;
    cursor: pointer;
  }
}
